
.cast-cards-ctr {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    background: linear-gradient(
        45deg,
        #fafafa -150%,
        #f0f0f0);
}

.cast-card, .cast-card-forecast {
    font-size: 18px;
    border-radius: 16px;
    margin: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*width: 200px;*/
    color: var(--color-primary-3);
    box-shadow: 2px 8px 24px -12px var( --color-primary-3);
    background: linear-gradient(
            45deg,
            var(--color-primary-1-1) ,
            var(--color-primary-2) 250%);
}





.cast-card .date{
    margin: 0;
    padding:0;
}

.cast-card .time{
    margin: 0;
    padding:0;
    font-size: 24px;
}

.cast-card p {
    margin: 0;
    margin-bottom: 16px;
    font-size: 32px;
}

.cast-stats {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 1500px) {
    .cast-cards-ctr {
        margin-left: 4px;
    }
}

@media screen and (max-width: 1000px) {
    .cast-cards-ctr {
        padding: 16px;
    }
    .cast-cards-ctr h1 {
        font-size: 38px;
    }
    .cast-cards-ctr h3 {
        font-size: 24px;
    }
}

.cast-card-row {
    display: none;
}

@media screen and (max-width: 700px) {
    .cast-card {
        display: none;
    }
    .cast-cards-ctr:not(.week-forecast) {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }
    .cast-card-row {
        display: block;
        flex-direction: column;
        width: calc(100% );
        margin-top: 4px;
    }
    .cast-card-row span {
        margin-right: 6px;
    }

    .cast-card-row  .icon-128 {
        height: 64px;
        width: 64px;
    }

    .cast-card-row .main-child {
        border-radius: 16px;
        margin-top: 4px;
        box-sizing: border-box;
        padding: 8px 32px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        background: linear-gradient(
                45deg,
                var(--color-primary-1-1) ,
                var(--color-primary-2) 250%);
    }

    .cast-card-row .main-child p {
font-size: 28px;
    }
}
