h1, h2, h3, h4, h5 {
    display: block;
    width: 100%;
    text-align: center;
}

a {
    padding: 0 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.welcome-ctr {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8px;
    padding: 32px;
    color: var(--color-primary-3);
    box-sizing: border-box;
    background: linear-gradient(180deg,
    var(--color-primary-1-1),
    var(--color-primary-2) 150%);
}
