.cast-cards-ctr.week-forecast {
  color: white;
  position: absolute;
  overflow-x: auto;
  width: calc(100%);
  padding-left: 128px;
  padding-top: 128px;
  margin: 0;
  background-image: linear-gradient(
    120deg,
    var(--color-secondary-1-0),
    var(--color-secondary-1-3) 300%
  );
  flex-wrap:unset
}

.week-forecast .cast-card {
    display: flex;
    flex-direction: column;
  box-shadow: 1px 2px 24px -12px var(--color-secondary-1-4);
  background-image: linear-gradient(
    120deg,
    white,
    var(--color-secondary-1-2) 120%
  );
}

.scrolling-row {
  background-image: linear-gradient(
    120deg,
    var(--color-secondary-1-0),
    var(--color-secondary-1-3) 300%
  );
  overflow: hidden;
  position: relative;
  height: 620px;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  margin: 8px;
  box-sizing: border-box;
}
