<template>
  <div class="cast-card">
    <span class="date">{{date}}</span>
    <span class="time">{{day}}</span>
    <img class="icon-128" src="../../public/icons/Artboard 2 copy 2.svg" />
    <p>{{temperature}}°C</p>

    <div class="cast-stats">
      <span>
        <img
          class="icon-32"
          src="../../public/icons/Artboard 2 copy 7.svg"
        /><br />
       {{windSpeed}} <br />
        m/s</span
      >
      <span>
        <img
          class="icon-32"
          src="../../public/icons/Artboard 2 copy 17.svg"
        /><br />
        {{precipitation}} <br />
        mm/h</span
      >
    </div>
  </div>
</template>

<script>
export default {
name: 'ForecastCard',
props: {
    temperature: String,
    windSpeed: String,
    date: String,
    day: String,
    precipitation: String
    }
}
</script>
